# Python
__pycache__/
*.py[cod]
*.env
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data — ignore contents but keep folder structure
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/

# OS
.DS_Store
Thumbs.db 
